#btnReset {
    -fx-font-family: "System";
    -fx-font-size: 11.0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-pref-height: 28;
    -fx-pref-width: 55;
    -fx-background-color: red;
}

#btnReset:hover {
    -fx-text-fill: white;
    -fx-background-color: deeppink;
}

#sGAnchorPane {
    -fx-pref-width: 800;
    -fx-pref-height: 800;
    -fx-background-color: red;
}