#startup_optionsGridPane { /* Setting the width and height of the grid*/
    -fx-pref-height: 180;
    -fx-pref-width: 320;
    -fx-background-color: #232323;
}

#startup_btnShowGrid {
    -fx-pref-height: 30px;
    -fx-pref-width: 395px;
    -fx-background-color: #009800;
    -fx-text-fill: black;
    -fx-font-weight: Bold;
}

#startup_HelperText {
    -fx-alignment: center;
    -fx-content-display: center;
    -fx-pref-height: 18.0;
    -fx-pref-width: 345.0;
    -fx-font-size: 15.0;
    -fx-font-family: System;
    -fx-font-weight: Bold;
    -fx-text-fill: white;
}

#startup_cbToggleHeuristics {
    -fx-alignment: center;
    -fx-pref-height: 40.0;
    -fx-pref-width: 210.0;
    -fx-text-fill: white;
}

#startup_rbs {
    -fx-alignment: top_center;
    -fx-content-display: center;
    -fx-pref-height: 18.0;
    -fx-pref-width: 135.0;
    -fx-text-fill: white;
}

#controlPanel_AnchorPane {
    -fx-pref-width: 600;
    -fx-pref-height: 470;
    -fx-background-color: #232323;
}

#controlPanel_lblTitle {
    -fx-font-family: Consolas;
    -fx-font-weight: Bold;
    -fx-font-size: 25;
    -fx-text-fill: white;
}

#controlPanel_lblSource {
    -fx-pref-width: 135;
    -fx-pref-height: 26;
    /*-fx-font-family: Consolas Bold;*/
    -fx-font-size: 13;
    -fx-text-fill: white;
}

#controlPanel_btnReset {
    -fx-font-family: "System";
    -fx-font-size: 11.0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-pref-height: 28;
    -fx-pref-width: 55;
    -fx-background-color: red;
}

#controlPanel_btnReset:hover {
    -fx-text-fill: white;
    -fx-background-color: #995400;
}

#controlPanel_btnFSP {
    -fx-font-family: System;
    -fx-font-size: 18;
    -fx-text-fill: #000000;
    -fx-background-color: green;
    -fx-pref-width: 245;
    -fx-pref-height: 42;
    -fx-font-weight: Bolder;
}

#controlPanel_btnFSP {
    -fx-font-family: System;
    -fx-font-size: 18;
    -fx-text-fill: #000000;
    -fx-background-color: green;
    -fx-pref-width: 245;
    -fx-pref-height: 42;
    -fx-font-weight: Bolder;
}

#controlPanel_btnFSP:hover {
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}

#controlPanel_cbEFs {
    -fx-font-size: 12;
    -fx-text-fill: white;
}

#controlPanel_cbEFs:hover {
    -fx-font-size: 12.2;
}

#sGAnchorPane {
    -fx-pref-width: 800;
    -fx-pref-height: 800;
    -fx-background-color: red;
}